export(EDOtrans)
importFrom("methods", "hasArg", "is")
importFrom("stats", "dnorm", "median", "sd")
importFrom("utils", "tail") 
importFrom("ABCanalysis", "ABCanalysis")
importFrom("opGMMassessment", "opGMMassessment", "GMMplotGG")