export(EDOtrans)
export(GMMplotGG)
importFrom("grDevices", "nclass.FD")
importFrom("methods", "hasArg", "is")
importFrom("stats", "dnorm", "median", "na.omit", "sd")
importFrom("ClusterR", "GMM")
importFrom("AdaptGauss", "InformationCriteria4GMM")
importFrom("grDevices", "nclass.FD")
importFrom("methods", "hasArg")
importFrom("stats", "dnorm", "median", "na.omit", "sd")
importFrom("rlang", ".data") 
importFrom("DistributionOptimization", "DistributionOptimization")
import("ggplot2")
